# laravel defaults
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



# compiled assets
/public/mix-manifest.json
/public/build
/public/css
/public/js
/public/images/vendor

# macos
.DS_Store

# laravel debugbar
/storage/debugbar

# node module dependencies
/node_modules

# ignoring dependencies inside Modules if created mistakenly
Modules/*/composer.lock
Modules/*/vendor
Modules/*/package-lock.json
Modules/*/node_modules

# phpcs cache
.php-cs-fixer.cache

# github workflow
post_build_script.sh

# cypress
cypress.json
cypress/videos
cypress/screenshots

google_service_credentials.json
