{
  "baseUrl": "http://127.0.0.1:8000",
  "$schema": "https://on.cypress.io/cypress.schema.json",
  "env": {
    "username": "user@coloredcow.com",
    "password": "12345678"
  },
  "projectId": "4dgmnb",
  "retries": {
    "runMode": 2
  }
}
