{
  "baseUrl": "http://127.0.0.1:8000",
  "$schema": "https://on.cypress.io/cypress.schema.json",
  "env": {
    "users": {
      "super-admin": {
        "email": "superadmin@coloredcow.com",
        "password": "12345678"
      },
      "admin": {
        "email": "admin@coloredcow.com",
        "password": "12345678"
      },
      "employee": {
        "email": "employee@coloredcow.com",
        "password": "12345678"
      },
      "default": {
        "email": "default@coloredcow.com",
        "password": "12345678"
      }
    }
  },
  "projectId": "4dgmnb",
  "retries": {
    "runMode": 2
  }
}
