
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.no-transition {
    color: initial;
    &:hover {
        text-decoration: none;
        color: initial;
    }
}

.table {
    td {
        vertical-align: middle;
    }
}

.table {
    .badge {
        line-height: 1.3;
    }
}

.btn-upload {
    display: block;
    width: 200px;
}

input[type="file"] {
    &:focus, &:active {
        outline: none;
    }
}

.btn-file {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#table_weeklydoses td {
    min-width: 150px;
}

#weeklydose_setup_modal {
    li {
        padding-bottom: 10px;
    }
}

.space-wrap {
    white-space: pre-wrap;
}

.modal-toggler-text {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.field-required {
    position: relative;
    &:after {
        content: ' *';
        color: red;
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
        position: absolute;
        margin-top: 2px;
        margin-left: 2px;
    }
}

.status-close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #FFF;
        top: 0;
        bottom: 0;
        right: 0;
        margin-left: -3px;
    }
    .timeline-container {
        padding: 15px 15px 15px 0;
        position: relative;
        background-color: inherit;
        width: 100%;
        &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            right: -5px;
            background-color: #FFF;
            border: 3px solid #FF9F55;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }
    }
    .left {
        left: 0;
        &::after {
            right: -8px;
        }
    }
    .right {
        left: 50%;
        &::after {
            left: -8px;
        }
    }

    .content {
        padding: 10px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }
}
