// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~jquery-ui/themes/base/all.css';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.no-transition {
    color: initial;
    &:hover {
        text-decoration: none;
        color: initial;
    }
}

.table {
    td {
        vertical-align: middle;
    }
}

.table {
    .badge {
        line-height: 1.3;
    }
}

.btn-upload {
    display: block;
    width: 200px;
}

input[type="file"] {
    &:focus,
    &:active {
        outline: none;
    }
}

.btn-file {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#table_weeklydoses td {
    min-width: 150px;
}

#weeklydose_setup_modal {
    li {
        padding-bottom: 10px;
    }
}

.space-wrap {
    white-space: pre-wrap;
}

.modal-toggler {
    cursor: pointer;
}

.modal-toggler-text {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.field-required {
    position: relative;
    &:after {
        content: ' *';
        color: red;
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
        position: absolute;
        margin-top: 2px;
        margin-left: 2px;
    }
}

.status-close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #FFF;
        top: 0;
        bottom: 0;
        right: 0;
        margin-left: -3px;
    }
    .timeline-container {
        padding: 15px 15px 15px 0;
        position: relative;
        background-color: inherit;
        width: 100%;
        &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            right: -5px;
            background-color: #FFF;
            border: 3px solid #FF9F55;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }
    }
    .left {
        left: 0;
        &::after {
            right: -8px;
        }
    }
    .right {
        left: 50%;
        &::after {
            left: -8px;
        }
    }
    .content {
        padding: 10px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }
}

.modal {
    .modal-dialog {
        max-width: 600px;
    }
}

.input-group-prepend {
    z-index: 0;
}

.icon-pencil {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $primary;
        color: white;
    }
}

.card-edit {
    position: absolute;
    right: 15px;
    top: 10px;
    &.icon-pencil {
        top: 7px;
    }
}

.input-billing {
    max-width: 75px;
}

.card-status-highlight {
    font-size: 90%;
}

.applicant-round-actions {
    cursor: pointer;
}

.c-pointer {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 30px;
    input {
        display: none;
    }
}

.slider {
    position: relative;
    cursor: pointer;
    height: 100%;
    transition: .4s;
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
    &:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.slider.inactive {
    background-color: $danger;
    .off {
        display: block;
    }
    .on {
        display: none;
    }
    &.secondary-slider {
        background-color: $secondary;
    }
}

.slider.active {
    background-color: $success;
    &:before {
        transform: translateX(60px);
    }
    .on {
        display: block;
    }
    .off {
        display: none;
    }
    &.secondary-slider {
        background-color: $info;
    }
}

input:focus+.slider {
    box-shadow: 0 0 1px $secondary;
}

.on,
.off {
    color: white;
    position: absolute;
    top: 20%;
    font-size: 12px;
}

.update-schedule {
    margin-bottom: 2px;
}

#update_category_modal {
    .modal-body {
        height: 34em;
        overflow-y: scroll;
    }
}

.nav-font {
    font-size: 1.1vw;  
}

.text-center {
    font-size: 2.1vw;  
}

.inline-card {
    position: fixed;
    height: 100vh;
    width: 45vw;
    top: 0;
    z-index: 100;
    >.card-body {
        height: 100%;
    }
    &.inline-resume {
        left: 0;
        >.card-body>iframe {
            height: 100%;
            width: 100%;
        }
    }
    &.inline-evaluation {
        right: 0;
        >.card-body {
            overflow-y: scroll;
        }
    }
}

[v-cloak] {
    display: none;
}

.round_evaluation_list {
    max-height: 40em;
    overflow-y: scroll;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.reader_image {
    width: 40px !important;
    height: 40px !important;
}

#books_listing {
    .reader_image {
        width: 30px !important;
        height: 30px !important;
    }
    .action_buttons {
        right: 0;
    }
    .cover_image {
        max-height: 10em;
    }
    .book_card {
        width: 24%;
    }
}

/* 
  ##Device = Desktops
*/

@media (min-width: 1281px) {
    #books_listing {
        .book_card {
            width: 24%;
        }
    }
}

/* 
##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    #books_listing {
        .book_card {
            width: 25%;
        }
    }
}

/* 
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #books_listing {
        .book_card {
            width: 25%;
        }
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
    #books_listing {
        .book_card {
            width: 100%;
        }
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (min-width: 320px) and (max-width: 480px) {
    #books_listing {
        .book_card {
            width: 100%;
        }
    }
}