
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.no-transition {
	color: initial;
	&:hover {
		text-decoration: none;
		color: initial;
	}
}

.table {
	td {
		vertical-align: middle;
	}
}

.table {
	.badge {
		line-height: 1.3;
	}
}
