
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.no-transition {
    color: initial;
    &:hover {
        text-decoration: none;
        color: initial;
    }
}

.table {
    td {
        vertical-align: middle;
    }
}

.table {
    .badge {
        line-height: 1.3;
    }
}

.btn-upload {
    display: block;
    width: 200px;
}

input[type="file"] {
    &:focus, &:active {
        outline: none;
    }
}

.btn-file {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#table_weeklydoses td {
    min-width: 150px;
}

#weeklydose_setup_modal {
    li {
        padding-bottom: 10px;
    }
}

.space-wrap {
    white-space: pre-wrap;
}

.modal-toggler-text {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.field-required {
    position: relative;
    &:after {
        content: ' *';
        color: red;
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
        position: absolute;
        margin-top: 2px;
        margin-left: 2px;
    }
}

.status-close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;
}

.modal.hr_round_review {
    .modal-dialog {
        max-width: 600px;
    }
}

.input-group-prepend {
    z-index: 0;
}
