.tb1-container {
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 10px;
}
.salary-table th:first-child,
.salary-table td:first-child {
	position:sticky;
	top:0;
	background-color: #fff;
	text-align: center;
	color: #373737;
	border: 1px solid #fff;
	font-size:16px;
	text-align:bottom;
}
.salary-table td
.salary-table th {
	background-color: #fff;
	text-align:center;
	border:1px solid #fff;
	
}
.salary-container-tb1 {
	position:fixed;
	top:0;
}
.salary-table th:first-child,
.salary-table td:first-child {
  position: sticky;
  left: 0;
  background-color: #fff;
  color: #373737;
}