.office_locations-table {
    width: 70%;

}
.office_locations-table {
    width: 60%;
    margin-bottom: 8px;
    color: #2C2A2C;
  }
  .office_locations-table {
    width: 60%;
    margin-bottom: 12px;
    color: #2C2A2C;
    margin-left: 67px;
  }