.partially_paid{
    color: orange;
}

.accordion{
    margin-top: 10px;
}

.accordion-editicon{
    display: flex; 
    justify-content: space-between;
}

.edit-icon-container {
    margin-right: 10px;
}