name: Coding Standards
on:
  pull_request:
  push:
    branches: [master]

jobs:
  phpcs:
    name: PHP CS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP v7.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Install composer dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
      - name: Install NPM Dependencies
        run: npm install
      - name: PHP Coding Standards
        run: php ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php --dry-run --verbose --diff

  eslint:
    name: ES Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP v7.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Install composer dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
      - name: Install NPM Dependencies
        run: npm install
      - name: ESLINT
        run: ./node_modules/.bin/eslint resources/js/ Modules/*/Resources/assets/js/ --ext .js,.vue

  larastan:
    name: Larastan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP v7.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Install composer dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
      - name: Install NPM Dependencies
        run: npm install
      - name: Configure application encryption key
        run: php artisan key:generate
      - name: Larastan
        run: ./vendor/bin/phpstan analyse
